<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codetribe.palliate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/palliate_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <activity
            android:name=".PagerActivity"
            android:label="Life Support"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="Palliate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="My Profile"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HelpActivity"
            android:label="Help"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Support"
            android:label="Life Support"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Levels"
            android:label="Options"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".EmotionalAbuse"
            android:label="Live Chat"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".PhysicalAbuse" />
        <activity android:name=".ResetActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="Help"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".FaqActivity"
            android:label="About Us"
            android:parentActivityName=".AboutActivity" />
        <activity
            android:name=".Contact"
            android:label="Contact Us"
            android:parentActivityName=".AboutActivity" />
        <activity
            android:name=".AppActivity"
            android:label="App Info"
            android:parentActivityName=".AboutActivity"></activity>
    </application>

</manifest>